---
import Layout from "../layouts/Layout.astro";
import AppHeader from "../components/AppHeader.vue";
---

<Layout title="Loopstudios landing page">
  <AppHeader client:load />
  <main></main>
</Layout>
